@font-face {
  font-family: dynapuff;
  src: url("static/fonts/DynaPuff/DynaPuff-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-family: shrikhand;
  src: url("static/fonts/Shrikhand/Shrikhand-Regular.ttf");
}

@font-face {
  font-family: merri;
  src: url("static/fonts/Merriweather/Merriweather-Bold.ttf");
}

body {
  max-width: clamp(5vw, 50rem, 90vw);
  margin: 0 auto;
  /* center */
  background: #F6F6F6;
  color: #0D0D0D;
  font-family: roboto;
  font-size: 19;
}

#site-logo {
  display: block;
  margin: auto;
}

h1 {
  font-family: merri;
  font-size: 40;
  text-align: center;
}

h2 {
  font-family: merri;
  font-size: 30;
}

pre {
  color: #515151;
  background: #DCF2E5;
  padding: 20px;
  border-radius: 7px;
}


img {
  mix-blend-mode: darken;  
}

.img-root {
  display: flex;
  width: 100%;
  gap: 50px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: stretch;
}

.img-root > div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.img-root img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.img-title {
  text-align: center;
}

video {
  mix-blend-mode: darken;
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Everything code related */

code {
  font-size: 12;
  color: #515151;
  background: #DCF2E5;
  /* padding: 3px; */
  border-radius: 4px;
}

code:not(pre *) {
  color: #515151;
  background: #DCF2E5;
  /* padding: 3px; */
  border-radius: 4px;
}

.nf {
  color: #00007F;
}
