img {
  mix-blend-mode: normal;
}

.post-link {
  display: contents;
  text-decoration: none;
  color: inherit;
}

.post-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0px;
}

.post-title-alt {
  font-size: 1rem;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #303030;
}

.post-card {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(0, 0, 30);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  filter: drop-shadow(0 0 0.1rem gray);
}

.post-date {
  font-weight: bold;
  font-style: italic;

  position: absolute;
  display: inline-block;
  width: auto;
  top: -6px;
  left: -6px;
  margin-top: 0;
  padding: 2px;
  padding-left: 6px;
  padding-right: 5px;

  background: white;

  border-style: solid;
  border-width: 3px;
  border-color: rgb(0, 0, 30);
  border-radius: 8px;
}

.post-langs {
  font-weight: bold;
  font-style: italic;

  position: absolute;
  display: inline-block;
  width: auto;
  top: -6px;
  right: -6px;
  margin-top: 0;
  padding: 2px;
  padding-left: 6px;
  padding-right: 5px;

  background: white;

  border-style: solid;
  border-width: 3px;
  border-color: rgb(0, 0, 30);
  border-radius: 8px;
}

.post-card:hover {
  cursor: pointer;
  background-color: honeydew;
  filter: drop-shadow(0 0 0 gray);
}
