.iframe-wrapper {
  display: flex;
  justify-content: center;
}

iframe {
  display: block;
}

.video-date {
  font-size: 1.5rem;
  font-weight: bold;
}


.video-notes {
  background: rgb(200, 250, 255);
  color: rgb(60, 90, 200);
  padding: 10px;
  border-radius: 10px;
}