<h2 style="text-align:center">{{ title }}</h2>
{% if description %}
<div>{{ description }}</div>
{% endif %}

{% if dirs %}
<div class="dirs">
  {% for dir in dirs %}
  <p><a href="{{ dir.url }}">{{ dir.name }}</a></p>
  {% endfor %}
</div>
{% endif %}

{% for file in files %}
<details>
  <summary><span>{{ file.name }}
      <span class="copy-status">Copied!</span>
      <div class="file-icons">
        <a href="{{ file.url }}"><img class="code" width="20px" src="/static/icons/code.jpg"
            title="Open raw file" /></a>
        <img class="copy" width="20px" src="/static/icons/copy_paste.jpg" title="Copy raw file" />
      </div>
    </span>
  </summary>
  <div>{{ file.content }}</div>
</details>
{% endfor %}


<script>
  document.addEventListener('click', function (e) {
    // Check if the clicked element is our copy button
    if (e.target && e.target.classList.contains('copy')) {
      console.log(e)
      e.preventDefault();
      e.stopPropagation(); // Prevents the <details> from toggling

      // Find the closest <details> then find the .highlight div inside it
      const container = e.target.closest('details');
      const codeBlock = container.querySelector('.highlight');

      if (codeBlock) {
        // .innerText pulls clean text, ignoring all of Pygments' spans/line numbers
        const text = codeBlock.textContent;
        console.log(text);

        navigator.clipboard.writeText(text).then(() => {
          const copyStatus = container.querySelector('.copy-status');
          copyStatus.style.visibility = "visible";
          setTimeout(() => copyStatus.style.visibility = "hidden", 1500);
        });
      }
    }
  });
</script>