<div class="iframe-wrapper">
  <iframe width="700" height="400" src="{{ video.url }}" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<p class="video-date">{{ video.uploaded }}</p>
<p class="video-description">{{ video.description }}</p>
{% if video.notes %}
<p class="video-notes">{{ video.notes }}</p>
{% endif %}